Hello Mr. ${name},

As per request your password gor reset. Use below password to login.

Temporary password:- ${password}

If you are not able to login, please reset again or contact to admin.

Note: This is temporary password, after login please change your password.

Regards,
-HowzIt Online Mail System